.vscode

.idea

logs/CAS02_LB_ppo
logs/L0_lower_ppo
logs/L0_ppo
logs/L1_ppo
logs/L1_3dof_ppo
logs/play_log

deploy

resources/robots/HL/meshes_L0

resources/robots/HL/meshes_L0_lower

resources/robots/HL/meshes_L1

resources/robots/HL/meshes_L1_fb

resources/robots/HL/meshes_L12

resources/robots/HL/meshes_L12_fullbody

resources/robots/HL/meshes_02_LB

*.pyc
data2.csv
humanoid/scripts/sim2sim.py
data3.csv
右腿.png
左腿.png
MUJOCO_LOG.TXT
