<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="legged_unknown_description">
<mujoco>
  <compiler meshdir="../meshes_02_LB/" balanceinertia="true" discardvisual="false"/>
</mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00071297 2.313E-05 -0.065761"
        rpy="0 0 0" />
      <mass
        value="4.4711" />
      <inertia
        ixx="0.013383"
        ixy="1.233E-05"
        ixz="-5E-08"
        iyy="0.0087528"
        iyz="-2.3E-07"
        izz="0.011047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leg_l1_link">
    <inertial>
      <origin
        xyz="0.007411 0.073782 -0.047759"
        rpy="0 0 0" />
      <mass
        value="2.1733" />
      <inertia
        ixx="0.00385"
        ixy="3.328E-05"
        ixz="-8.63E-05"
        iyy="0.0024862"
        iyz="0.00069138"
        izz="0.0026362" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l1_joint"
    type="revolute">
    <origin
      xyz="0 0.061 -0.070239"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg_l1_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.91986"
      upper="1.570"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_l2_link">
    <inertial>
      <origin
        xyz="0.027497 4.75E-05 -0.049808"
        rpy="0 0 0" />
      <mass
        value="0.53073" />
      <inertia
        ixx="0.0011122"
        ixy="1.15E-06"
        ixz="-0.00030323"
        iyy="0.0012373"
        iyz="6.09E-06"
        izz="0.00056075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l2_joint"
    type="revolute">
    <origin
      xyz="-0.00280000000000019 0.0815 -0.0550000000000012"
      rpy="0 0 0" />
    <parent
      link="leg_l1_link" />
    <child
      link="leg_l2_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17453"
      upper="1.5708"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_l3_link">
    <inertial>
      <origin
        xyz="-0.0075776 0.0023653 -0.16535"
        rpy="0 0 0" />
      <mass
        value="3.7187" />
      <inertia
        ixx="0.054434"
        ixy="-0.0002345"
        ixz="0.0035787"
        iyy="0.05556"
        iyz="-0.001012"
        izz="0.0046947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_pelvic_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_l3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0975"
      rpy="0 0 0" />
    <parent
      link="leg_l2_link" />
    <child
      link="leg_l3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="leg_l4_link">
    <inertial>
      <origin
        xyz="0.0035038 -0.0031863 -0.19378"
        rpy="0 0 0" />
      <mass
        value="3.785" />
      <inertia
        ixx="0.045175"
        ixy="6.899E-05"
        ixz="0.0016438"
        iyy="0.045273"
        iyz="-0.0019452"
        izz="0.0040722" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_knee_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_l4_joint"
    type="revolute">
    <origin
      xyz="-0.0200000000000112 0 -0.273499999999988"
      rpy="0 0 0" />
    <parent
      link="leg_l3_link" />
    <child
      link="leg_l4_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="2.53073"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_l5_link">
    <inertial>
      <origin
        xyz="0 1.31E-06 0"
        rpy="0 0 0" />
      <mass
        value="0.084483" />
      <inertia
        ixx="2.522E-05"
        ixy="0"
        ixz="0"
        iyy="1.087E-05"
        iyz="0"
        izz="2.393E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.453"
      rpy="0 0 0" />
    <parent
      link="leg_l4_link" />
    <child
      link="leg_l5_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.87266"
      upper="0.50614"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="leg_l6_link">
    <inertial>
      <origin
        xyz="0.016479 0.0010372 -0.03570852"
        rpy="0 0 0" />
      <mass
        value="0.63694" />
      <inertia
        ixx="0.0006624"
        ixy="6.742E-05"
        ixz="-0.00027661"
        iyy="0.0025767"
        iyz="-1.044E-05"
        izz="0.0026262" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/left_leg_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.03 0 -0.05"
        rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.08 0.02" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_l6_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="leg_l5_link" />
    <child
      link="leg_l6_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.50614"
      upper="0.50614"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="leg_r1_link">
    <inertial>
      <origin
        xyz="0.00753359 -0.07362029 -0.04757601"
        rpy="0 0 0" />
      <mass
        value="2.17334722" />
      <inertia
        ixx="0.00388586"
        ixy="-3.626E-05"
        ixz="-9.144E-05"
        iyy="0.00251542"
        iyz="-0.00070241"
        izz="0.00266441" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r1_joint"
    type="revolute">
    <origin
      xyz="0 -0.061 -0.070239"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg_r1_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.91986"
      upper="1.570"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_r2_link">
    <inertial>
      <origin
        xyz="0.027497 4.75E-05 -0.049808"
        rpy="0 0 0" />
      <mass
        value="0.53073" />
      <inertia
        ixx="0.0011122"
        ixy="1.15E-06"
        ixz="-0.00030323"
        iyy="0.0012373"
        iyz="6.09E-06"
        izz="0.00056075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r2_joint"
    type="revolute">
    <origin
      xyz="-0.0027999999999996 -0.0815 -0.055000000000001"
      rpy="0 0 0" />
    <parent
      link="leg_r1_link" />
    <child
      link="leg_r2_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="0.17453"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_r3_link">
    <inertial>
      <origin
        xyz="-0.00758617 -0.00227896 -0.16531938"
        rpy="0 0 0" />
      <mass
        value="3.71812338" />
      <inertia
        ixx="0.05444717"
        ixy="0.00022308"
        ixz="0.00357898"
        iyy="0.05556764"
        iyz="0.00105519"
        izz="0.00469756" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_pelvic_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_r3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0975"
      rpy="0 0 0" />
    <parent
      link="leg_r2_link" />
    <child
      link="leg_r3_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="leg_r4_link">
    <inertial>
      <origin
        xyz="0.0034867 0.0031719 -0.1938"
        rpy="0 0 0" />
      <mass
        value="3.7883" />
      <inertia
        ixx="0.045245"
        ixy="-6.878E-05"
        ixz="0.0016436"
        iyy="0.045339"
        iyz="0.0019443"
        izz="0.0040764" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_knee_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_r4_joint"
    type="revolute">
    <origin
      xyz="-0.02 0 -0.2735"
      rpy="0 0 0" />
    <parent
      link="leg_r3_link" />
    <child
      link="leg_r4_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="2.53073"
      effort="150"
      velocity="14" />
  </joint>
  <link
    name="leg_r5_link">
    <inertial>
      <origin
        xyz="0 1.31E-06 0"
        rpy="0 0 0" />
      <mass
        value="0.084483" />
      <inertia
        ixx="2.522E-05"
        ixy="0"
        ixz="0"
        iyy="1.087E-05"
        iyz="0"
        izz="2.393E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.453"
      rpy="0 0 0" />
    <parent
      link="leg_r4_link" />
    <child
      link="leg_r5_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.87266"
      upper="0.50614"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="leg_r6_link">
    <inertial>
      <origin
        xyz="0.01441 -0.0010372 -0.035708"
        rpy="0 0 0" />
      <mass
        value="0.63694" />
      <inertia
        ixx="0.00066239"
        ixy="-6.742E-05"
        ixz="-0.00027662"
        iyy="0.0025767"
        iyz="1.044E-05"
        izz="0.0026262" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/right_leg_ankle_roll_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.03 0 -0.05"
        rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.08 0.02" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_r6_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="leg_r5_link" />
    <child
      link="leg_r6_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.50614"
      upper="0.50614"
      effort="60"
      velocity="14" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="-0.00178583 -0.00017894 0.18783189"
        rpy="0 0 0" />
      <!-- <mass
        value="3.06293832" /> -->
      <mass
        value="4.5" />
      <inertia
        ixx="0.0202737"
        ixy="-3.85E-06"
        ixz="-2.546E-05"
        iyy="0.01460633"
        iyz="2.543E-05"
        izz="0.00690077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes_02_LB/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0185"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="10"
      velocity="10" />
  </joint>
</robot>